<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="VampGPTBack.Properties.Settings.pruebaMobilConnectionString"
            connectionString="Data Source=Msi;Initial Catalog=pruebaMobil;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="VampGPTBack.Properties.Settings.pruebaMobilConnectionString1"
            connectionString="Data Source=COOLCOMPUTER;Initial Catalog=pruebaMobil;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>